<style type="text/css">
            /*.calabarzon-map {
                transition: all .2s ease-in-out;
            }

            .calabarzon-map:hover {
                transform: scale(1.1);
            }*/

            .bg-yellow2 {
                background-color: #ebf820!important;
            }

            .bg-yellow2:hover {
                background-color: #d7e31a!important;
            }

            .bg-red2 {
                background-color: #c20e41!important;
            }

            .bg-red2:hover {
                background-color: #a40d37!important;
            }

            .bg-blue2 {
                background-color: #1345a0!important;
            }

            .bg-blue2:hover {
                background-color: #0c3683!important;
            }

            .bg-green2 {
                background-color: #13a016!important;
            }

            .bg-green2:hover {
                background-color: #108712!important;
            }

            .zoom {
                transition: transform .2s; /* Animation */
            }

            .zoom:hover {
              transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }

        </style>