.contact-us{
    color: #fff;
}
.contact-us:hover{
    color:#fff;
}
span .contact-us{
padding: 10px;
border: 1px solid #fff;
border-radius: 5px;
}

.login-menu{
    color: #fff;
}
.login-menu:hover{
    color: #fff;
}

.image{
    width: 120px;
    height: auto;
}
.banner{
    background-image: url("../images/safetyseal.svg");
    background-repeat: no-repeat;
    height: 500px;
}
.banner-guidelines{
    background-image: url("../images/banner_guidelines.svg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
.contact-banner{
    background-image: url("../images/contacts.svg");
    background-repeat: no-repeat;
    background-size: cover;

}

.registration-image {
    background: url("../images/LGRC_Static.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
