
.contact-us{
    color: #fff;
}
.contact-us:hover{
    color:#fff;
}
span .contact-us{
padding: 10px;
border: 1px solid #fff;
border-radius: 5px;
}

.login-menu{
    color: #fff;
}
.login-menu:hover{
    color: #fff;
}

.image{
    width: 120px;
    height: auto;
}
.banner{
    background-image: url("../images/safety_banner.svg");
    background-repeat: no-repeat;
    height: 500px;
}
.guidelines{
    background-image: url("../images/carousel/5.png");
    background-repeat: no-repeat;
    height: 500px;
}

.establishments{
    background-image: url("../images/carousel/5.png");
    background-repeat: no-repeat;
    height: 1000px;
}
.inspection{
    background-image: url("../images/safety_banner.svg");
    background-repeat: no-repeat;
    height: 500px;
}
.complaints{
    background-image: url("../images/carousel/6.png");
    background-repeat: no-repeat;
    height: 500px;
}
.banner-guidelines{
    background-image: url("../images/banner_guidelines.png");
    background-repeat: no-repeat;
    background-size: cover;
   
}
.contact-banner{
    background-image: url("../images/contacts.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.registration-image {
    background: url("../images/LGRC_Static.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.list_establishment-banner{
    background-image: url("../images/list_establishment.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.request_forms-banner{
    background-image: url("../images/request_forms.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.inquiries_complaints{
    background-image: url("../images/inquiries_complaints.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.application{
    background-image: url("../images/application_safety.png");
    background-repeat: no-repeat;
    background-size: cover;

}


/*jeck*/
.btn-light-primary
{
    color: #480272;
    background-color: #f2dffe;
    border-color: transparent;
}
.btn-light-primary:hover
{
    color: #FFFFFF; 
    background-color: #480272; 
    border-color: transparent;
}
.h5 
{
    font-family: sans-serif;
}

/* /========= */

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #EBEDF3;
}
.subtexts
{
    font-size: 15px;
    margin-top: 10px !important;
}

div.alert-messages {
    top: 50px;
    left: 25%;
    right: 25%;
    z-index: 7000;
}
.certificationTxt
{
    font-size: 20px;
    font-family: emoji;
    border: 1px solid whitesmoke;
    padding: 3px;
    border-radius: 5px;
    background-color: #f3f0f0;
    color: #1b1b53;
}